
$primary:#409eff;
$default:'#fff';
$success:#67c23a;
$warning:#3a3329;
$info:#909399;
$danger:#e6a23c;

$primary-hover:#66b1ff;
$default-hover:'#fff';
$success-hover:#85ce61;
$warning-hover:#ebb563;
$info-hover:#a6a9ad;
$danger-hover:#f78989;

$primary-disabled:#a0cfff;
$default-disabled:'#fff';
$success-disabled:#b3e19d;
$warning-disabled:#f3d19e;
$info-disabled:#c8c9cc;
$danger-disabled:#fab6b6;
