@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kztulh');
  src:  url('fonts/icomoon.eot?kztulh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kztulh') format('truetype'),
    url('fonts/icomoon.woff?kztulh') format('woff'),
    url('fonts/icomoon.svg?kztulh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}
.icon-copy:before {
  content: "\e92c";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-coin-dollar:before {
  content: "\e93b";
}
.icon-upload:before {
  content: "\e961";
}
.icon-spinner3:before {
  content: "\e97c";
}
.icon-search:before {
  content: "\e986";
}
.icon-key:before {
  content: "\e98d";
}
.icon-equalizer:before {
  content: "\e992";
}
.icon-table2:before {
  content: "\ea71";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-chevron-left:before {
  content: "\e900";
}
.icon-chevron-right:before {
  content: "\e901";
}
.icon-chevrons-left:before {
  content: "\e903";
}
.icon-chevrons-right:before {
  content: "\e904";
}
